.burger__btn {
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  cursor: pointer;
}

.burger-wrapper {
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  width: 6rem;
  height: 6rem;
  z-index: 20;
}

.burger {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: $color-text-base;
  height: 0.15rem;
  width: 1.6rem;
  z-index: 2;
  transition: all 350ms ease;
  transform: translate(-50%, -50%);
}

.burger::before,
.burger::after {
  cursor: pointer;
  position: absolute;
  left: 0;
  background-color: $color-text-base;
  content: "";
  height: 0.15rem;
  width: 100%;
  display: block;
  transition: all 350ms ease;
}

.burger::before {
  transform: translateY(-0.4rem);
}

.burger::after {
  transform: translateY(0.4rem);
}

.burger-wrapper:hover .burger {
  background-color: $color-btn-hover;
}

.burger-wrapper:hover .burger::before {
  background-color: $color-btn-hover;
}

.burger-wrapper:hover .burger::after {
  background-color: $color-btn-hover;
}

.burger-wrapper:active {
  background-color: $color-socials-focus;
}

.burger-wrapper:active .burger {
  background-color: $color-text-base;
}

.burger-wrapper:active .burger::before {
  background-color: $color-text-base;
}

.burger__wrapper:active .burger::after {
  background-color: $color-text-base;
}

/*класс burger--open описывает поведение в состоянии открытого меню*/
.burger.burger--open {
  background-color: transparent;
}

.burger-wrapper:hover .burger.burger--open {
  background-color: transparent;
}

.burger-wrapper:active .burger.burger--open {
  background-color: transparent;
}

.burger.burger--open::before {
  transform: rotate(-45deg);
}

.burger.burger--open::after {
  transform: rotate(45deg);
}

@media all  and (min-width: $tablet-width) {
  .burger-wrapper {
    display: none;
  }
}
