$color-text-base: #333333;
$color-text-secondary:#ffffff;
$color-accent:#7859cf;
$color-accent-two:#593cac;
$color-bg-one:#ffffff;
$color-bg-two:#f8f8f8;
$color-bg-slider-one:#f3ebe1;
$color-bg-slider-two:#eae6fc;
$color-bg-slider-three:#e5e6e8;
$color-socials-default:#bdbdbd;
$color-socials-focus:#f0ebff;
$color-btn-hover:#9070ec;
$color-btn-active:#593cac;
$color-btn-disabled:#e2e2e2;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-only-width:767px;
